        <dataTable>
            [%- INCLUDE 'eml-entityGroup.tt' %]
            <attributeList>
            [%- FOREACH attribute = entity.attributeList %]
                [%- INCLUDE 'eml-attribute.tt' %]
            [%- END %] [%# end FOREACH attribute ... #%]
            </attributeList>
        </dataTable>
