        <dataTable id="[% entity.entity_id %]">
            [%- INCLUDE './templates/eml-entityGroup.tt' %]
            <attributeList>
            [%- FOREACH attribute = entity.attributeList %]
                [%- INCLUDE './templates/eml-attribute.tt' %]
            [%- END %] [%# end FOREACH attribute ... #%]
            </attributeList>
            <numberOfRecords>[%- entity.numberofrecords %]</numberOfRecords>
        </dataTable>
