            [% IF methods.size > 0 %]
            <methods>
                [%- FOREACH method = methods %]
                    [% method.min %]
                [%- END %] [%# FOREACH method ... #%]
            </methods>
            [% END %]
